body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,dd,dt,dl{
	margin: 0;
	padding: 0;
}
ol,ul,li{
	list-style: none
}
a{
	text-decoration: none;
	color: #5d5d5d
}
img{
	vertical-align: bottom;
}
html{
	color: #5d5d5d
}
button,input{
	background: transparent;;
	border:0;
	outline: none;
}
.container{
	max-width: 720px;
    min-width: 300px;
	margin:0 auto;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 0.25rem;
	 font-family: 'Avenir', Helvetica, Arial, sans-serif;
}